# Copy to .env and adjust. Do not commit .env.
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/aws_ci_test
SECRET_KEY=74595d4debad7ca73c223f052d2c4102de80fbeeccd652eda850faf57ecdaf21
CORS_ORIGINS=*
DEBUG=false
